/* Textarea ----------------------------------------------------
---------------------------------------------------------------- */

textarea, .textarea {
	overflow: auto;
	width: 100% !important;
	height: 150px;
	padding: 14px;
}