/* Display -----------------------------------------------------
---------------------------------------------------------------- */

/* Inline-Block ------------------------ */

.display-inlineBlock {
  display: inline-block;
}

/* Inline ------------------------------ */

.display-inline {
  display: inline;
}

/* Table ------------------------------- */

.display-table {
  display: table;
  width: 100%;
}

/* Table-Cell -------------------------- */

.display-tableCell {
  display: table-cell;
}

/* None -------------------------------- */

.display-none {
  display: none;
}

/* Block ------------------------------- */

.display-block {
  display: block;
}


/* Position ----------------------------------------------------
---------------------------------------------------------------- */

/* Absolute ---------------------------- */

.position-absolute {
  position: absolute;
}

/* Relative ---------------------------- */

.position-relative {
  position: relative;
}

/* Fixed ------------------------------- */

.position-fixed {
  position: fixed;
}


/* Float -------------------------------------------------------
---------------------------------------------------------------- */

/* Left -------------------------------- */

.float-left {
  float: left;
}

/* Right ------------------------------- */

.float-right {
  float: right;
}


/* Breakpoint --------------------------------------------------
---------------------------------------------------------------- */

/* Block ------------------------------- */

.display-block--breakPoint {
  display: block;
}

/* None -------------------------------- */

.display-none--breakPoint {
  display: none;
}

/* Inline-Block ------------------------ */

.display-inlineBlock--breakPoint {
  display: inline-block;
}


/* Media Query -------------------------------------------------
---------------------------------------------------------------- */

/* Small Devices, Tablets -------------- */

@media only screen and (min-width : 768px) {

  /* Table-Cell */

  .display-tableCell {
    display: table-cell;
  }

  /* Inline-Block */

  .display-inlineBlock {
    display: inline-block;
  }

  /* Block */

  .display-block {
    display: block;
  }

  /* None */

  .display-none {
    display: none;
  }

}