/* Text Decoration ---------------------------------------------
---------------------------------------------------------------- */

.textDecoration-none, button, .button {
  text-decoration: none;
}

.button-style, .button {
  // font-family: 'Lato';
  font-weight: 600;
  // letter-spacing: 0.53;
  // text-transform: uppercase;
}


/* Vertical Alignment ------------------------------------------
---------------------------------------------------------------- */

.verticalAlign-middle, button, .button, .input, .inputGroup-context, .textarea {
  vertical-align: middle;
}


/* Display -----------------------------------------------------
---------------------------------------------------------------- */

.button, button {
  display: inline-block;
  // &:hover {
  //   transform: translateY(-1px);
  //   box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  // }
}


/* General -----------------------------------------------------
---------------------------------------------------------------- */

button, .button, .button svg * {
  @include appearance(none);
  @include box-sizing(border-box);
  @include transition-duration(.2s);
  @include transition-property(all);
  @include transition-timing-function(linear);
  @include user-select(none);
  outline-style: none;
  border-style: none;
  cursor: pointer;
}


/* Button Size -------------------------------------------------
---------------------------------------------------------------- */

/* X-large ------------------------------- */

.button--xl {
  line-height: 45px;
  min-width: 45px;
  padding: 0 25px;
}

/* Large ------------------------------- */

.button--l {
  line-height: 40px;
  min-width: 50px;
  padding: 0 25px;
}

/* Medium ------------------------------ */

.button--m {
  line-height: 45px;
  min-width: 45px;
  padding: 0 25px;
}

/* Media Query -------------------------------------------------
---------------------------------------------------------------- */

/* Small Devices, Tablets -------------- */

@media only screen and (min-width : 768px) {

  .button--l--breakPoint {
    line-height: 50px;
    min-width: 50px;
    padding: 0 25px;
  }

}
