/* Font Weight -------------------------------------------------
---------------------------------------------------------------- */

.fontWeight-1	{
	font-weight: 100;
}

.fontWeight-2	{
	font-weight: 200; 
}

.fontWeight-3	{
	font-weight: 300;
}

.fontWeight-4	{
	font-weight: 400;
}

.fontWeight-5	{
	font-weight: 500;
}

.fontWeight-6	{
	font-weight: 600;
}

.fontWeight-7, .button {
	font-weight: 700;
}

.fontWeight-8	{
	font-weight: 800;
}

.fontWeight-9	{
	font-weight: 900;
}