/* Line Height -------------------------------------------------
---------------------------------------------------------------- */

.lineHeight-xxs {
	line-height: 14px;
}

.lineHeight-xs {
	line-height: 16px;
}

.lineHeight-s {
	line-height: 18px;
}

.lineHeight-m {
	line-height: 24px;
}

.lineHeight-l {
	line-height: 30px;
}

.lineHeight-xl {
	line-height: 34px;
}

.lineHeight-xxl {
	line-height: 40px;
}

/* Paragraph ---------------------------------------------------
---------------------------------------------------------------- */