/* Transformation ----------------------------------------------
---------------------------------------------------------------- */

.textTransform-lowercase {
	text-transform: lowercase;
}

.textTransform-uppercase {
	text-transform: uppercase;
}

.textTransform-capitalize {
	text-transform: capitalize;
}

/* Style ----------------------------------------------
---------------------------------------------------------------- */

.fontStyle-italic {
	font-style: italic;
}
