/* Border Style ------------------------------------------------
---------------------------------------------------------------- */

/* Solid ------------------------------- */

.borderStyle-solid {
	border-style: solid;
}

/* Dashed ------------------------------ */

.borderStyle-dashed {
	border-style: dashed;
}

/* Dotted ------------------------------ */

.borderStyle-dotted {
	border-style: dotted;
}


/* Border Width ------------------------------------------------
---------------------------------------------------------------- */

/* Uniform ----------------------------- */

.borderWidth-0, .button, .input {
  border-width: 0;
}

.borderWidth-s {
	border-width: 1px;
}

.borderWidth-m {
	border-width: 2px;
}

.borderWidth-l {
	border-width: 4px;
}

.borderWidth-xl {
	border-width: 6px;
}

/* Individual -------------------------- */

/* Bottom */

.borderBottomWidth-0 {
	border-bottom-width: 0;
}

.borderBottomWidth-s {
	border-bottom-width: 1px;
}

.borderBottomWidth-m {
	border-bottom-width: 2px;
}

.borderBottomWidth-l {
	border-bottom-width: 4px;
}

.borderBottomWidth-l {
	border-bottom-width: 4px;
}

.borderBottomWidth-xl {
	border-bottom-width: 6px;
}

/* Top */

.borderTopWidth-0 {
	border-top-width: 0;
}

.borderTopWidth-s {
	border-top-width: 1px;
}

.borderTopWidth-m {
	border-top-width: 2px;
}

.borderTopWidth-l {
	border-top-width: 4px;
}

.borderTopWidth-xl {
	border-top-width: 6px;
}

/* Right */

.borderRightWidth-0 {
	border-right-width: 0;
}

.borderRightWidth-s {
	border-right-width: 1px;
}

.borderRightWidth-m {
	border-right-width: 2px;
}

.borderRightWidth-l {
	border-right-width: 4px;
}

.borderRightWidth-xl {
	border-right-width: 6px;
}

/* Left */

.borderLeftWidth-0 {
	border-left-width: 0;
}

.borderLeftWidth-s {
	border-left-width: 1px;
}

.borderLeftWidth-m {
	border-left-width: 2px;
}

.borderLeftWidth-l {
	border-left-width: 4px;
}

.borderLeftWidth-xl {
	border-left-width: 6px;
}


/* Border Color ------------------------------------------------
---------------------------------------------------------------- */

/* White ------------------------------- */

.borderColor-white {
	border-color: $white;
}

/* Grey -------------------------------- */

.borderColor-cloud {
	border-color: palette(cloud, mid-dark);
}

.borderColor-cloudDark {
	border-color: palette(cloud, dark);
}

.borderColor-cloud {
	border-color: palette(cloud, base);
}

.borderColor-midnight {
	border-color: palette(black, base);
}

/* Primary ----------------------------- */

.borderColor-primary {
	border-color: palette(primary, base);
}

/* Secondary --------------------------- */

.borderColor-positive {
	border-color: $positive;
}

/* Warning ----------------------------- */

.borderColor-warning {
	border-color: $warning;
}

/* Negative ---------------------------- */

.borderColor-negative {
	border-color: $negative;
}
